# Common
data/
log/
config.ini
test*.py

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
.project
.settings/

# IDEA
*.ipr
*.iml
*.iws
.idea
.idea_modules/
out/

# Gradle
.gradle
/build/

# Java
*.class

# NPM
.npm
node_modules/
jspm_packages/
logs
*.log

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Python
venv/
dist/
*.egg-info/
__pycache__/
*.py[cod]
db.sqlite3
